<div class="hero">
  <div class="banner">
    <h1>Gear</h1>
  </div>

  <%= render "shared/map" %>

  <div class="section section-between">
    <div class="shop-title">
        <div class="title-text">
          <h2><%= @shop.name %></h2>
        </div>
    </div>

      <div class="shop-main">
        <div class="shop-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nisi arcu, dapibus non maximus vel, convallis sit amet mi. Fusce non erat ac ligula posuere tincidunt vel sit amet enim. In faucibus molestie metus nec euismod. Pellentesque accumsan quam justo, vel ultrices metus viverra a. Ut id ultrices metus. Nulla ut interdum diam. Quisque faucibus diam et semper hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec non dui vel lectus mattis semper eget quis ipsum. Sed euismod massa est, id consequat velit mattis dictum. Pellentesque pulvinar nunc egestas rutrum convallis. Curabitur nisi ipsum, ultrices at porta sed, suscipit non tortor. Proin iaculis feugiat nunc et elementum.
          Vivamus nec congue turpis. Suspendisse suscipit leo in condimentum mattis. Pellentesque efficitur eros posuere, dictum lacus vitae, porta metus. Sed ultricies interdum venenatis. Donec mattis vel mauris facilisis tempor. Donec laoreet vehicula diam, nec posuere eros tempor sit amet. Sed nulla lacus, bibendum et posuere at, dignissim eget massa.
          Phasellus et dui enim. Curabitur id luctus risus. Fusce lorem nisl, pellentesque sit amet elementum eu, facilisis vel purus. Sed commodo, lectus quis varius accumsan, metus sapien commodo metus, quis dignissim purus ante in lectus. Mauris sed justo tortor. Ut fringilla lorem quis odio rutrum, ac sollicitudin arcu vulputate. Aenean ultricies nibh nisl, in semper nunc ullamcorper id. Maecenas velit metus, tempus ac feugiat a, consequat dictum dolor. Morbi scelerisque pretium nulla, eget auctor lacus dapibus vitae. Praesent maximus feugiat elit a egestas. Fusce porttitor molestie urna, eu luctus nisi pretium at. Quisque aliquam urna ut leo finibus, id commodo dolor porta. In pulvinar, leo vitae consectetur mollis, erat eros consectetur neque, vel pellentesque est dolor nec metus. Vivamus tincidunt blandit sapien, molestie rutrum magna tempor sollicitudin. Sed laoreet diam auctor, lobortis augue finibus, vehicula neque.
          Sed porttitor ante eu tellus maximus, quis ultrices tortor facilisis. Ut at tortor tincidunt, iaculis mi tincidunt, suscipit lectus. Nullam bibendum, ligula eget tincidunt cursus, erat nunc bibendum urna, sed blandit magna massa in eros. Praesent et felis non metus euismod faucibus accumsan sit amet risus. Praesent ultrices, sem ac tristique bibendum, odio velit bibendum ante, et rutrum mi urna ac dui. Etiam et cursus neque. Praesent faucibus mi vitae ex porttitor, a mattis ex consectetur. Vivamus tristique feugiat ipsum commodo maximus. Integer tortor nibh, molestie at consequat ac, finibus eu massa.
          Suspendisse a imperdiet felis, quis semper felis. Morbi eu enim velit. Nulla facilisi. Etiam a egestas risus. Pellentesque consequat et massa a mollis. Suspendisse lorem quam, aliquet feugiat velit vitae, tempus euismod turpis. Cras sem erat, iaculis sit amet mauris id, tempor auctor est. Quisque pellentesque magna id lorem hendrerit, a faucibus nulla gravida. Donec in arcu tristique, rhoncus tortor nec, placerat lorem. Integer finibus diam elementum sollicitudin tincidunt. Nullam pellentesque dolor sit amet metus consectetur tristique id ac augue. Integer tincidunt nisl sed risus venenatis, quis fermentum turpis pretium. Maecenas pellentesque ex a accumsan porttitor. Mauris consectetur ipsum sed massa consequat, sed convallis lectus fringilla. Proin sodales felis eu malesuada vulputate.</p>
        </div>
      </div>
  </div>
</div>
