// Specific CSS for your home-page

.banner{
  padding-top: 10vh;
  text-align: center;
  color: $light-gray;
}

.moguaï{
  font-family: 'Moirai One', cursive ;
  font-size: 5.6rem;
  font-weight: bold;
}
