.title-text{
  padding: 40px 0 40px 0;
  margin-left: 40px;
}

.shop-title::after{
  margin: 0;
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  border-bottom: 1px solid #7AA3BA ;
}


.shop-description{
  margin: 40px 0 40px 40px;
  width: 80%;
  max-width: 1800px;
  border: 1px solid #532c51;
}
