<div class="hero">
  <div class="about-content container">
    <div class= "about-description">Section</div>
    <div class= "about-dev"> Nous ! nfjovfbfuiribfriz fezjbeihsvfvehedsfzezfb ncjqbefi efyuzsef yzefvzueyfzegyvhduayed abgde</div>
  </div>
</div>
