
<div class="hero">
  <div class="banner">
    <h1>Gear</h1>
  </div>

  <%= render "shared/map" %>

  <div class="section section-between">
    <div class="card-box">
      <%= debug @shops %>
      <%= render partial: "shops/index" %>
    </div>
  </div>
</div>
