

<div class="hero">
  <div class="blue-background">
    <div class="banner ">
      <h1 class="moguaï">VKite</h1>
    </div>

    <%= render "shared/map" %>

    <div class="section section-between">
      <div class="standby-carousel"></div>
    </div>
  </div>
</div>
