

<div class="hero">
  <div class="blue-background">
    <div class="banner ">
      <h1 class="moguaï">VKite</h1>
    </div>

    <div class="section">

      <div class="article-box">
        <div class="carousel">

        </div>
      </div>

      <div class="article-box">
        <div class="carousel">

        </div>
      </div>

      <div class="article-box">
        <div class="carousel">

        </div>
      </div>

      <div class="article-box">
        <div class="carousel">

        </div>
      </div>
    </div>
  </div>
</div>
