.search-div{
  width: 90vw;
  margin: 0 auto;
  border: 1px solid black;
  max-width: 2400px;
  margin-bottom: 40px;
}

.search-filter {
  width: 94%;
  border: 1px solid aqua;
  height: 4vh;
  border-radius: 8px;
  box-shadow: 1px 1px 4px rgba(5, 21, 87, 0.824);
}
